* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
  background-color: #2b2b2b;
  color: #f1f1f1;
}

.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

caption {
  caption-side: top;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #aaa;
}

th,
td {
  border: 1px solid #aaa;
  padding: 10px;
  text-align: start;
}
