* {
  box-sizing: border-box;
  font-family: -apple-system, blinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  background: #f5f7fa;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 420px;
  margin: auto;
  background: #ffffff;
  border-radius: 16px;
  padding: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  margin: 0;
  font-size: 18px;
}

.icon {
  font-size: 18px;
  cursor: pointer;
}

.profile-info {
  text-align: center;
  margin-top: 20px;
}

.my-picture {
  position: relative;
  width: 110px;
  margin: auto;
}

.my-picture img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
}

.status {
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 14px;
  height: 14px;
  background: #28c76f;
  border-radius: 50%;
  border: 2px solid white;
}

.profile-info h1 {
  margin: 12px 0 4px;
  font-size: 22px;
}

.profile-info h3 {
  margin: 0;
  color: #2979ff;
  font-size: 14px;
}

.subtitle {
  font-size: 13px;
  color: #666;
  margin: 8px 0 16px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 8px;
  background-color: #fdfefe;
  border: rgba(255, 255, 255, 0.808) solid 1px;
  border-radius: 12px;
}

.links button {
  flex: 1;
  padding: 10px;
  border: none;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fdfefe;
  margin: 0;
}

section {
  margin-top: 24px;
}

h4 {
  margin-bottom: 8px;
  font-size: 15px;
}

section p {
  font-size: 13px;
  color: #555;
  line-height: 1.5;
}

.skills {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.skill {
  padding: 8px 12px;
  border-radius: 999px;
  background: #f0f0f0;
  font-size: 12px;
}

.skill.active {
  background: #2979ff;
  color: white;
}

.download-btn {
  width: 100%;
  margin: 24px 0;
  padding: 14px;
  background: #2979ff;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 14px;
}

.education {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.edu-icon {
  font-size: 22px;
}

.grade {
  font-size: 12px;
  color: #666;
}

.project-info {
  background: #e8f1ee;
  padding: 16px;
  border-radius: 14px;
}

.project-info h5 {
  margin: 0 0 6px;
  font-size: 14px;
}

.project-info p {
  margin: 0;
  font-size: 12px;
}

svg {
  height: 30px;
  width: 30px;
}

button {
}
